.container{
    display:flex;
    margin:30px;
    justify-content:center;
    align-items:baseline;
    flex-direction:row;
    flex-wrap:wrap;
    background-color: azure;
    padding :15px;
    gap:70px;
  }
    .container {
      display: flex; 
     justify-content: 
     space-around;
     align-items: center;
     flex-direction: row;
     flex-wrap: wrap;
     
   }
   .item {
     
     padding: 10px;
     align-items: center;
   }
   .center {
   
    margin: auto;
      width: 200px;
      height: 50px;
      align-items:center;
      justify-content:center;
      display: flex;
      background: #58a2d3;
  }
  .customer {
      margin: auto;
      padding-left: 20%;
  }
  .customer_box {
    margin: auto;
    padding-left: 0.5%;
      width:fit-content;
      height: fit-content;
      position:absolute; 
      left: justify;
       
      display: flex;
      background: #58a2d3;
  }
  .containers {
    padding: 50px;
     align-items: center;
    display: flex; 
   justify-content: 
   space-between;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   
   display: flex;
   justify-content: space-evenly;
   width: 100%;
   
   margin-bottom: 150px;
   
   
  }
  .items {
   background-color: rgb(81, 94, 152);
   padding: 10px;
   align-items: center;
  }
  .containers_01 {
    display: grid;
    margin: auto;
    padding: 100px;
    grid-template-columns: 
    repeat(3, 1fr);
    gap: 20px;
   
  }
  .items_01 {
    
    text-align: center;
    padding: 20px;
    margin: 50px;
    height: auto;
    
    
    background-color: rgb(185, 185, 197);
  }
  .items_02 {
    
    text-align: center;
    padding: 20px;
    margin: 50px;
    height: auto;
    background-color: rgb(127, 163, 161);
  }
  .items_03 {
    
    text-align: center;
    padding: 20px;
    margin: 50px;
    height: auto;
    background-color: rgb(115, 156, 131);
  }
  .items_04 {
    
    text-align: center;
    padding: 20px;
    margin: 50px;
    height: auto;
    background-color: rgb(204, 169, 205);
  }
  .items_05 {
    
    text-align: center;
    padding: 20px;
    margin: 50px;
    height: auto;
    background-color: rgb(176, 170, 119);
  }
  .items_06 {
    
    text-align: center;
    padding: 20px;
    margin: 50px;
    height: auto;
    background-color: rgb(121, 82, 115);
  }
  .customer_0 {
    margin: 1px;;
    padding-left: 20%;
  }
  table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    margin-left: 700px;
  }
  
  th, td {
    
    padding: 8px;
    text-align: left;
  }
  
  th {
    
    color: #cb2020;
  }
  .left {
   
    margin: left;
      width: 120px;
      height: 50px;
      align-items:left;
      justify-content:center;
      display: flex;
      background: #58a2d3;
  }
  .lastpage {
    background-color: rgba(51, 21, 21, 0.381);
    padding: 50px;
     align-items: center;
    display: flex; 
   justify-content: 
   space-between;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
   
  }
  .right {
    flex: 1;
    padding: 20px;
    background-color: #f2f2f2;
  }
  .containers_table {
    display: grid;
    grid-template-columns: 
    repeat(3, 1fr);
    gap: 20px;
   
  }
  .items_image {
    
    text-align: center;
    padding: 20px;
    margin: 50px;
    height: auto;
    
  }
  .items_table {
    
    text-align: center;
    padding: 20px;
    margin: 50px;
    height: auto;
    margin-left: 200px;
   
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: #fff;
    padding: 10px;
  }
  
  .footer-left {
    flex: 1;
    margin-inline-start: auto;
  }
  .footer-right{
    flex: 1;
   margin-inline-end: auto;
  }
  .footer-center {
    flex: 0 0 auto;
    margin-inline: 200px;
  }
  
  
  .logo {
    width: 30px;
    height: 30px;
    margin: 0 10px;
  }
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  @media (max-width: 900px) {
    .containers{
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media (min-width: 768px) {
    .containers{
      grid-template-columns: repeat(3,1fr);
    }
  }
  @media only screen and (max-width:800px) {
    /* For tablets: */
    .main {
      width: 80%;
      padding: 0;
    }
    .right {
      width: 100%;
    }
  }
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }
  }
  .BBB
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #E9F6FF;
    margin-bottom: 150px;
}
.F
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    color:rgb(174, 174, 174);
}
.F >.AAA:hover{
color: aqua;
text-decoration: underline;
}
@media(max-width:400px)
{
    .B{
        display: inline;
    }
}
.A
{ width: 20px;
  height: 20px;
  position: relative;
  top: 4px;
  margin-right: 2px;
}
.eight{
   margin-bottom: 0px;
}
